MONGO_URI=***********************************

ACTIVATION_TOKEN_SECRET=t6w9z$C&F)J@NcRfUjXn2r4u7x!A%D*G-KaPdSgVkYp3s6v8y/B?E(H+MbQeThWm

ACCESS_TOKEN_SECRET=t7w!z%C*F-JaNdRgUjXn2r5u8x/A?D(G+KbPeShVmYp3s6v9y$B&E)H@McQfTjWn

REFRESH_TOKEN_SECRET=kYp3s6v9y$B&E)H@McQfTjWmZq4t7w!z%C*F-JaNdRgUkXp2r5u8x/A?D(G+KbPe

CLIENT_URL=http://localhost:3000

MAILING_SERVICE_CLIENT_ID=**************************************

MAILING_SERVICE_CLIENT_SECRET=**********************************

MAILING_SERVICE_REFRESH_TOKEN=**********************************

MAILING_SERVICE_REDIRECT_URI='https://developers.google.com/oauthplayground'

SENDER_EMAIL_ADDRESS=vinaphone5gb@gmail.com

CLOUD_NAME="*************"

CLOUD_API_KEY="******************"

CLOUD_API_SECRET="****************"